@charset "UTF-8";

body {
  font-size:95%;
  background: #A1FFCE;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family:Verdana, “游ゴシック”, YuGothic, “Hiragino Kaku Gothic ProN”, Meiryo, sans-serif;
}
  
/*.box {
  box-shadow: 0px 0px 15px 0px rgba(98,98,98,0.8); 
  background-image: -webkit-linear-gradient(110deg, #e9defa 0%, #fbfcdb 100%);
  padding:10px;
  max-width: 70%;
  max-height: 70%;
  border-radius:10px 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
}*/
  
.title{
  text-align: center;
  font-size:350%;
  color:#000000;
}
  
.icon{
  text-align: center;
}
  
.link1{
  text-align: center;
}
  
.btn{
  border: none;
  border-radius: 100vh;
  font-size: 20px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
  text-align: center;
  text-decoration: none;
  color:#000000;
  width: 500px;
  height: 75px;
  margin-right: auto;
  margin-left: auto;
}
  
.link2{
  width: auto;
  text-align: center;
}
  
.memo{
  text-align: center;
  font-size: 30px;
}

@media(max-width:1000px){
      
    /*.box {
      box-shadow: 0px 0px 15px 0px rgba(98,98,98,0.8); 
      background-image: -webkit-linear-gradient(110deg, #e9defa 0%, #fbfcdb 100%);
      padding:10px;
      max-width: 90%;
      max-height: 90%;
      border-radius:10px 10px 10px 10px;
      margin-left: auto;
      margin-right: auto;
    }*/
      
    .title{
      text-align: center;
      font-size:350%;
      color:#000000;
    }
      
    .icon{
      text-align: center;
    }
      
    .link1{
      text-align: center;
    }
      
    .btn{
      border: none;
      border-radius: 100vh;
      font-size: 30px;
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
      box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
      text-align: center;
      text-decoration: none;
      color:#000000;
      width: 700px;
      height: 100px;
      margin-right: auto;
      margin-left: auto;
    }
      
    .link2{
      width: auto;
      text-align: center;
    }
      
    .memo{
      text-align: center;
    }
  }
